.quan{width: 100%}
#a0{height: 5%;background-color: black}
.a0A{height: 100%;float: left}
#a1{height: 15%;background-color: #e38d13}
#a2{height: 65%;}
#a2 b{font-size: 30px}
#a2Div1{padding-top: 20px}
#a2Div1Select{width: 60%;height: 40%;font-size: 30px;border: 1px solid black}
#a2Div2Textarea{font-size: 20px;width: 100%;height: 100px;resize:none;border: 1px solid #e38d13}
#a2Div3Input{width: 10px;height: 10px}
#a2Div4Input{border: 1px solid black;height: 30px;font-size: 20px;display: none}
#a2Div5Input{background-color: #e38d13;width: 80%;height: 40px;font-size: 30px;margin-top: 20px}

#a99{height: 15%;background-color:black;float: left;width: 100%;}
.a99div{width: 100%;height: 30px;margin-top: 20px;text-align: center;float: left}
.a99a{font-size: 20px;color: #ffffff}
#a99divp{font-size: 20px;color: #ffffff;}