#body{background-size: 100%;}
.quan{width: 100%}
#a1{height: 5%;}
.a1Span{width: 50%;height: 100%;float: left;}
#a2{height: 30%;display:flex;justify-context:centet;align-items:center;}
#a2Div{height: 180px;width: 150px;margin:0 auto;color: #e38d13}
#a2Div1{height: 80%;width: 100%;margin:0 auto;}
#a2Div2{height: 20%;width: 100%;text-align: center;font-size: 20px}
#a2DivImg{width: 100%;height: 100%;border-radius : 100%}
#a2Input{width: 100%;height: 100%;font-size: 100%;display: none}
#a3{height: 80%;}
#a3Div1{height: 8%;width: 100%;background-color: black;font-size: 20px}
.a3Div1Span1{width: 25%;height: 100%;float: left;}
.a3Div1Span1B{font-size: 20px;color: #ffffff}
#button{height: 100%;width: 80%;font-size: 70%; margin-left: 10%;display: none}
#a3Div2{height: 8%;background-color: black;margin-top: 5%;}
.a3DivSpan{font-size: 25px;color: #ffffff;width: 50%;height: 100%;text-align: center;float: left;}
#a3Div3{height: 70%;background-color: #8c8c8c;opacity:0.8;}
#a3Div3H1{font-size: 40px;}
.a3Div3H{font-size: 20px;margin-top: 5%}
.a3Div3H1{font-size: 20px;padding-top: 5%;display: none}
#a3Input{font-size: 100%;}
#a3Div4{height: 75%;background-color: black;overflow-y :auto;display: none}
.a3Div4Span{float: left;width: 50%;}
.a3Div4SpanDiv{width: 90%;margin-left: 3%}
.a3Div4Img{width: auto;height: auto;max-width: 100%;max-height: 100%;border-radius : 4%;margin-top: 10%}
#a3Button{width: 80%;height: 20%;font-size: 70%;margin-left: 10%;background-color: #e38d13;color: #ffffff;display: none}
#a99{height: 15%;background-color:black;float: left;width: 100%;}
.a99div{width: 100%;height: 30px;margin-top: 20px;text-align: center;float: left}
.a99a{font-size: 20px;color: #ffffff}
#a99divp{font-size: 20px;color: #ffffff;}