.quan{width: 100%}
#a0{height: 5%;background-color: black}
.a0A{height: 100%;float: left}
#a1{height: 15%;background-color: black}
.a1Span{float: left;}
#a1Span1{width: 40%;height: 100%;text-align: center;}
#a1Span2{width: 60%;height: 100%;}
#a1Img{width: 100px;height: 100px;border-radius : 100%;margin-top: 10%}
#a1SpanDiv1{width: 100%;height: 50%;}
#a1SpanDiv2{width: 100%;height: 50%;}
#a1Span2Div1S{font-size: 20px;color: #e2b635;padding-top: 10%}
.a1SpanDiv2Span1{width: 50%;height: 50%;float: left;margin-top: 5%;}
.a1SpanDiv2Span2{width: 50%;height: 50%;float: left;margin-top: 5%;}
.a1SpanDiv2Span3{width: 50%;height: 60%;float: left;margin-top: 4%;}
.a1SpanDiv2Spanb{font-size: 20px;color: #ffffff}

#a1Span1Svg1{color: #ffffff;}
#a1Span1Svg2{color: #e2d90e;display: none;}
#a1Span2Svg1{color: #ffffff;}
#a1Span2Svg2{color: red;display: none;}
#a2{height: 80%;text-align: center;background-color: black;}
.img{width: auto;height: auto;max-width: 100%;max-height: 100%;background-size: cover;margin: auto;background-repeat: no-repeat;background-position: center;}