#a1{width: 100%;height: 5%;background-color: black}
.a1span{width: 25%;height: 80%;float: left;margin-top: 1%}
#a2{width: 100%;height: 95%;}
#a2Div1{width: 100%}
#a2Div1 video{width: 90%;height: 200px;margin-left: 5%;margin-top: 5%;}
#a2Input{width: 80%;height: 50px;margin-left: 10%;margin-top: 5%;font-size: 20px;text-align: center}