# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JAVA\Mobile.wallpaper-site\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
